<p>Vous pouvez nous joindre par les moyens suivants :</p>

<ul>
  <li>E-mail&nbsp;: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#46;&#97;&#99;&#99;&#101;&#115;&#45;&#99;&#105;&#98;&#108;&#101;&#64;&#98;&#101;&#116;&#97;&#46;&#103;&#111;&#117;&#118;&#46;&#102;&#114;">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#46;&#97;&#99;&#99;&#101;&#115;&#45;&#99;&#105;&#98;&#108;&#101;&#64;&#98;&#101;&#116;&#97;&#46;&#103;&#111;&#117;&#118;&#46;&#102;&#114;</a></li>
  <li>Courrier&nbsp;:
    Direction interministérielle du numérique (<abbr>DINUM</abbr>),
    <br>20 avenue de Ségur,
    <br>75007 Paris,
    <br>France
  </li>
</ul>
