<p>Vous pouvez nous joindre par les moyens suivants :</p>

<ul>
  <li>E-mail : <a href="mailto:acces-cible@beta.gouv.fr">acces-cible@beta.gouv.fr</a></li>
  <li>Courrier : DINUM, Ségur, Paris</li>
</ul>
