<nav class="<%= css_classes %>" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button
      class="fr-sidemenu__btn"
      hidden
      aria-controls="fr-sidemenu-wrapper"
      aria-expanded="false"
    >
      <%= button %>
    </button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <div class="fr-sidemenu__title" id="fr-sidemenu-title"><%= title %></div>
      <ul class="fr-sidemenu__list">
        <% items.each do |item| %>
          <%= item %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
