<%= render "checks/check", check: do %>
  <% if check.redirected? %>
    <p><%= check.human(:redirect_message, original: check.original_url, redirected: check.redirect_url).html_safe %></p>
  <% end %>
<% end %>
