// Rend les formulaires button_to "transparents" pour les styles
// Permet d'utiliser des liens et des boutons dans un btn-group
form.button_to {
  display: contents;
}

.fr-badge {
  // Ajoute un outline quand il contient un lien caché qui a le focus
  &:has(a:focus) {
    outline-color: #0a76f6;
    outline-style: solid;
    outline-width: 2px;
    a {
      outline: none;
    }
  }
  &[role=tooltip] {
    outline-offset: 0;
    // Centre l'icône quand le badge n'a pas de texte visible
    &::before {
      margin-right: -.125rem;
      cursor: help;
    }
  }
}
