// Rend les formulaires button_to "transparents" pour les styles
// Permet d'utiliser des liens et des boutons dans un btn-group
form.button_to {
  display: contents;
}

// Centre l'icône quand le badge n'a pas de texte visible
.fr-badge[role=tooltip]::before {
  margin-right: -.125rem;
  cursor: help;
}
