name: CI
permissions:
  contents: read

on:
  push:
    branches:
      - "main"
      - "staging"
      - "production"
  pull_request:

jobs:
  scan_ruby:
    name: Brakeman
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

  scan_js:
    name: JS audit
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for security vulnerabilities in JavaScript dependencies
        run: bin/importmap audit

  lint:
    name: Rubocop
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write # To annotate PRs

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    name: Rspec
    if: ${{ !contains(github.event.head_commit.message, '[skip-ci]') }}
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password

    env:
      RAILS_ENV: test
      RAILS_TEST_KEY: ${{ secrets.RAILS_TEST_KEY }}
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
      DISABLE_BOOTSNAP: "1"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Set up database schema
        run: bin/rails db:schema:load

      - name: Precompile assets
        run: bin/rails assets:precompile

      - name: Run tests
        run: bundle exec rspec

      - name: Run feature tests
        run: bundle exec cucumber
